.badge {
  background-color: tomato;
  width: 26px;
  height: 26px;
  border-radius: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
}
.badge-wrapper {
  position: relative;
}

.badge-updated {
  background-color: tomato;
  width: 6px;
  height: 6px;
  right: -8px;
  top: -5px;
  border-radius: 14px;
  display: block;
  position: absolute;
}
